* {
  font-family: "Josefin Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  scroll-behavior: smooth;
  transition: all 0.4s;
  background: black;
  color: white;
  overflow-x: hidden;
}

.btn:hover {
  transform: scaleX(1.1);
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulseBorder {
  0% {
    border-color: #c1ff72;
    box-shadow: 0 0 5px #c1ff72;
  }
  50% {
    border-color: #ffffff;
    box-shadow: 0 0 20px #c1ff72;
  }
  100% {
    border-color: #c1ff72;
    box-shadow: 0 0 5px #c1ff72;
  }
}

.profile {
  position: relative;
}

.profile::after {
  content: "";
  position: absolute;
  border-top: solid 2px #c1ff72;
  border-bottom: solid 2px #c1ff72;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  animation: ring 10s linear infinite;
}

@keyframes ring {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
